html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div {
  position: absolute;
  width: 420px;
  height: 200px;
  padding: 0.2em;
}

#display {
  text-align: center;
  font-family: 'Orbitron';
  font-size: 4em;
  margin: 10px 0;
}

button {
  width: 76px;
  height: 41px;
  margin: 20px 30px;
  padding: 1em;
  cursor: pointer;
  border-radius: 1em;
  border: none;
  box-shadow: 2px 2px 2px 0px rgba(128, 126, 126, 0.851);
}

button:focus {
  outline: none;
  box-shadow: 2px 2px 2px 0px inset rgba(129, 127, 127, 0.851);
}

button:disabled {
  cursor: not-allowed;
  box-shadow: inset 2px 2px 2px 0px rgba(129, 127, 127, 0.851);
}

span:focus {
  outline: none;
  background-color: black;
  color: white;
}
