html,
body {
  height: 100%;
  width: 100%;
}

div#container {
  position: absolute;
  width: 420px;
  height: 182px;
  top: 30vh;
  left: 20vw;
  border: 1px solid gray;
  padding: 0.2em;
  box-shadow: 2px 2px 2px 0px #c5c3c3d9;
}

div#container::before,
div#container::after {
  content: '';
  width: 420px;
  height: 10px;
  display: block;
}

div#container::before {
  background-color: purple;
}

div#container::after {
  background-color: rgb(146, 1, 1);
}

div#ssbar,
div#mmbar {
  width: 420px;
  height: 10px;
}

div#mmbar {
  background-color: indigo;
}

div#ssbar {
  background-color: rgb(119, 2, 2);
}
#display {
  text-align: center;
  font-family: 'Orbitron';
  font-size: 4em;
  margin: 0;
}

button {
  width: 76px;
  height: 41px;
  margin: 20px 30px;
  padding: 1em;
  cursor: pointer;
  border-radius: 1em;
  border: none;
  box-shadow: 2px 2px 2px 0px #817f7fd9;
}

button:focus {
  outline: none;
  box-shadow: 2px 2px 2px 0px inset #817f7fd9;
}

button:disabled {
  cursor: not-allowed;
  box-shadow: 2px 2px 2px 0px inset #817f7fd9;
}

span:focus {
  outline: none;
  background-color: black;
  color: white;
}
