html,
body {
  height: 100%;
  width: 100%;
}

div {
  position: absolute;
  width: 400px;
  height: 200px;
  top: 30vh;
  left: 20vw;
  border: 1px solid gray;
  padding: 1em;
  box-shadow: 2px 2px 2px 0px #c5c3c3d9;
}

#display {
  text-align: center;
  font-family: 'Orbitron';
  font-size: 4em;
  margin: 10px 0;
}

button {
  margin: 20px 17px;
  padding: 1em;
  cursor: pointer;
  border-radius: 1em;
  border: none;
  box-shadow: 2px 2px 2px 0px #c5c3c3d9;
}

button:focus {
  outline: none;
  box-shadow: 2px 2px 2px 0px inset #c5c3c3d9;
}

button:disabled {
  cursor: not-allowed;
}
